.faqContainer {
  color: white;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
  border-bottom: 8px solid #303030;
  text-align: center;
  background-color: black;
  h3 {
    font-weight: 400;
  }
  ul {
    list-style: none;
    // max-width: 1250px;
    width: 65%;
    padding: 0;
  }
  li {
    min-width: 100%;
    margin: 0.2rem auto;
  }

  .faqQuestion {
    color: white;
    width: 100%;
    text-align: left;
    background-color: #303030;
    font-size: 1.4rem;
    padding: 2rem;
    margin: auto;
    position: relative;
    border: none;
    // @media (max-width: 1076px) {
    //   font-size: large;
    // }
    svg {
      margin: 0;
      // width: 100%;
      // height: 100%;
      width: 24px;
      height: 24px;
      position: absolute;
      top: calc(15px + 1rem);
      right: calc(15px + 1rem);

      margin: auto;
      // @media (max-width: 1076px) {
      //   width: 20px;
      //   height: 20px;
      //   top: calc(10px + 0.5rem);
      //   right: calc(10px + 0.5rem);
      // }
    }
    .svg-open {
      transform: rotate(0);
      transition: all 0.2s;
    }
    .svg-closed {
      transform: rotate(-45deg);
      transition: all 0.2s;
    }
  }

  .answer {
    margin: 0.2rem 0;
    overflow: hidden;
    background-color: #303030;
    font-size: x-large;
    text-align: left;
    box-sizing: border-box;
    @media (max-width: 1076px) {
      font-size: large;
    }
  }
  .open {
    max-height: 1500px;
    // height: fit-content;
    transition: max-height 2s ease-in-out 0.1s;
    transition: padding 0.1s ease-in-out;
    padding: 3rem 2rem;
  }
  .closed {
    transition: max-height 2s ease-in-out 0.1s;
    transition: padding 0.1s ease-in-out;
    padding: 0 2rem;
    max-height: 0;
  }
}
