.inputContainer {
  position: relative;
  width: 100%;
  margin-right: 1%;
  label {
    position: absolute;
    top: 1.4rem;
    left: 2rem;
    transition: all 0.2s ease-in-out;
    color: #8c8c8c;
    font-weight: 500;
    font-size: 1.4rem;
    pointer-events: none;
    left: 1rem;
    // color: #8c8c8c !important;
  }
  input:not(:placeholder-shown) ~ label,
  input:focus ~ label {
    top: 0.3rem;
    font-size: 1rem;
  }

  input {
    outline: none;
    height: 100%;
    box-sizing: border-box;
    border: 0;
    font-size: large;
    border-right: 1px solid #8c8c8c;
    width: 100%;
    padding: 1.8rem 1rem 1rem 1rem;
    background-color: rgba(22, 22, 22, 0.7);
    border: 1px solid rgba(128, 128, 128, 0.7);
    border-radius: 0.25rem;
    color: white;
  }
  input.error {
    border: 2px solid #e50914;
  }
  .inputError {
    position: absolute;
    color: #e50914;
    width: fit-content;
    @media (max-width: 800px) {
      position: relative;
      left: 0;
    }
  }
  @media (max-width: 800px) {
    width: 80%;
    margin: auto;
    input {
      padding: 1rem;
    }
    label {
      font-size: 1rem;
      top: 1rem;
    }
    input:not(:placeholder-shown) ~ label,
    input:focus ~ label {
      font-size: 0.6rem;
      top: 0.2rem;
    }
  }
}
