html,
body,
.app {
  margin: 0;
}
body {
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  background-color: #000000;
  background-color: #141414;
}

.test {
  // background-image: linear-gradient(
  //   0deg,
  //   rgba(0, 0, 0, 0.8) 0,
  //   transparent 60%,
  //   rgba(0, 0, 0, 0.8)
  // );
  // max-height: 700px;
  // overflow: hidden;
  // height: 700px;

  // img {
  //   object-fit: cover;
  //   background-position: right;
  // }
}
